main {
    padding:10px 0;
}

main .weather-container {
    margin:0 auto;
    width:80%;
    height:100%;
}

main .weather-container .weather-header {
    color:#b9b9b9;
    height:50px;
    border-bottom:1px solid #cfcfcf;
    font-weight:600;

    display:flex;
    align-items:center;
}

main .weather-container .back-btn {
    margin:10px 0 0 10px;
    font-size:30px;
    color:#72b8f6;
    position: absolute;
}

main .weather-container .back-btn .fa-arrow-left:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

    transition: all 0.15s ease-in-out;
}

main .weather-container .weather-area {
    border-bottom:1px solid #cfcfcf;
    padding:90px 10px 200px;
    height:100%;

    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /* align-items:center; */
}

main .weather-container .weathers {
    width:31%;
    margin:10px 0;
}

main .weather-container .weathers-site-name {
    color:#bfbfbf;
    font-size:20px;
    height:30px;
}

main .weather-container .hr-box-container {
    display:flex;
    justify-content:flex-end;
    margin:10px 0;
}

main .weather-container .hr-box {
    width:100px;
    height:3px;
    background-color: #d7d7d7;
    border-radius: 2px;
}

main .weather-container .weather-content {
    margin-top:25px;   
}

main .weather-container .content-container {
    width:100%;
    height:50px;
    margin:15px 0;
    border-radius: 5px;
    background-color:rgba(234, 240, 243, 0.4);
    box-shadow: 1px 0px 2px 2px #bdbdbd;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

main .weather-container .date {
    color:#a7a7a7;
    margin-left:15px;
    width:65px;
}

main .weather-container .weather-info {
    width:calc(100% - 95px);
    margin-right:15px;

    display:flex;
    justify-content:flex-end;
}

main .weather-container .weather-state, .temperature {
    margin:0 3%;
    font-family: 'Do Hyeon', sans-serif;
    font-size:20px;
    font-weight:400;
}

@media all and (max-width:1150px) {
    main .weather-container .weather-area {
        justify-content:center;
    }

    main .weather-container .weathers {
        width:60%;
    }
}

@media all and (max-width:700px) {
    main .weather-container .weathers {
        width:100%;
    }
}