header {
    height:72px;

    display:flex;
    align-items:flex-end;
    box-shadow: 3px 0px 3px 1px #bdbdbd;
}

header .head-title {
    height:70%;
    width:80%;
    margin:0 auto;
    color: #4099fa;;
    font-size:12px;
    font-weight:lighter;
    text-shadow:0.7px 0px 1px;
    

    display:flex;
    align-items:center;
}

main .weather-container .weather-area {
    border-bottom:1px solid #cfcfcf;
    height:400px;
}